node_modules
.tmp
.sass-cache
.idea
~tmpnpmout.txt
npm-debug.log
app/bower_components
heroku
/views
test.js
failed_tests
test/screen_tests/screenshots/*.json
test/screen_tests/screenshots/bs2-firefox-pause*.*
test/screen_tests/screenshots/bs3-firefox-pause*.*

# Configuration files have an example to be copied from
lib/config/env/development.js
lib/config/env/test.js
dist/lib/config/env/development.js
dist/lib/config/env/test.js
.DS_Store

# quick start stuff
quick-start/.idea
quick-start/node_modules
